# Assessment Test

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Integers and floating are the type of numbers.

Strings:  Any character surrounded in single or double quotes are known as strings.

Lists:  [1,2,3]-It is an ordered sequence of object and it is mutable. 

Tuples: (1,2,3,4)-It is also an ordered sequence of object and it is immutable.

Dictionaries: {name:"shriya"}-Key value paring and it is mutable i.e we can change its value through the key.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

In [3]:
5**2*8/2+1.25-1

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [ ]:
4*(6+5)=44
4*6+5=29
4+6*5=34

In [4]:
x=4*(6+5)
y=4*6+5
z=4+6*5
print(x,y,z)

44 29 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [ ]:
3+1.5+4=8.5
##Therefore the result is float

In [5]:
type( 3 + 1.5 + 4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [7]:
# Square root:
9**0.5

3.0

In [8]:
# Square:
3**2

9

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [9]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [14]:
s ='hello'
# Reverse the string using slicing
s[4::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [16]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [17]:
# Method 2:

s[-1]

'o'

Build this list [0,0,0] two separate ways.

In [22]:
# Method 1:
shriya=[0,0,0]
print(shriya)

[0, 0, 0]

In [36]:
# Method 2:
shriya=[]
shriya.append(0)
shriya.append(0)
shriya.append(0)
print(shriya)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [41]:
list3 = [1,2,[3,4,'hello']]

list3[2].pop(2)
list3

[1, 2, [3, 4]]

In [42]:
list3[2].append('goodbye')
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [44]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [45]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [49]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [53]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [54]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

In [ ]:
# No we cannot sort a dictionary because it stores values in the form of key-value pair and it is not sequence,so it cannot be ordered.

What is the major difference between tuples and lists?<br><br>

In [ ]:
#Tuples are immutable whereas List are mutable.

How do you create a tuple?<br><br>

In [ ]:
#We create tuple by using parentheses

What is unique about a set?<br><br>

In [ ]:
#Sets can only stores a unique elements

Use a set to find the unique values of the list below:

In [56]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

s1=set(list5)
print(s1)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [57]:
# Answer before running cell
2 > 3
#false

False

In [58]:
# Answer before running cell
3 <= 2
#false

False

In [59]:
# Answer before running cell
3 == 2.0
#false

False

In [60]:
# Answer before running cell
3.0 == 3
#true

True

In [61]:
# Answer before running cell
4**0.5 != 2
#false

False

Final Question: What is the boolean output of the cell block below?

In [1]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
#3>=4
#therefore the answer is false

False

_____________________________________________

#### What is the difference between append() and extend(). State with what python objects we can use these methods with examples.

In [64]:
#Append-this method is used to add an element to the end of the list.
#for example
l1=[12,23,34,45]
l1.append(56)
print(l1)

[12, 23, 34, 45, 56]

In [68]:
#Extend- this method is used to add one list elements to the end of another list elements.
#for example
l1=[1,2,3,4]
l2=[5,6,7,8]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8]

__________________________________________

##### What is the difference between reverse() and sort(). State with what python objects we can use these methods with examples.

In [70]:
#reverse()- This method is used to reverse the elements of the list.
#sort()- Whereas this method is used to sort the elements of the list in ascending order.
#We use this two methods with list.
#For example-
a1=[1,2,3,4]
a1.reverse()
print(a1)

[4, 3, 2, 1]

In [71]:
b1=[12,10,9,7,13]
b1.sort()
print(b1)

[7, 9, 10, 12, 13]

___________________________________________________

### What Will Be The Output Of The Following Code

In [3]:
mera_tuple = ((5, 6),) * 7
print(len(mera_tuple[3:8]))
#4

4

In [4]:
mera_tuple = ((5, 6),) * 7
mera_tuple

((5, 6), (5, 6), (5, 6), (5, 6), (5, 6), (5, 6), (5, 6))

___________________________________________

In [3]:
b = {(34,2):1,(5,6):2}
print(b[34,2])
#1

1

________________________________________

In [27]:
k = {'l':1,'m':2,'c':3}
print (k['l','m'])
# The above equation gives an error because if we want to access multiple values,we need to use seperate statements for each key

KeyError: ('l', 'm')

___________________________________________________

In [28]:
kaha = {}
kaha[1] = 1
kaha['1'] = 2
kaha[1] += 1

sum = 0
for k in kaha:
    sum += kaha[k]

print (sum)
#4

4

____________________________________________

In [32]:
box = {}
jars = {}
crates = {}
box['biscuit'] = 1
box['cake'] = 3
jars['jam'] = 4
crates['box'] = box
crates['jars'] = jars
len(crates[box])

#if error, rectify

TypeError: unhashable type: 'dict'

In [35]:
box = {}
jars = {}
crates = {}
box['biscuit'] = 1
box['cake'] = 3
jars['jam'] = 4
crates['box'] = box
crates['jars'] = jars
len(crates['box'])

2

__________________________________________

write a program to Count the number of even and odd numbers from a series of numbers?
define a series of numbers first at least 15 or more.
Display both the counts.

In [39]:
num = [1,2,3,4,5,6,12,13,14,15,16,24,25,36,37,48]
even_count=0
odd_count=0
for i in num:
    if i%2==0:
        even_count+=1
    else:
        odd_count+=1
print("Even count of the number in the series:", even_count)
print("odd count of the number in the series:", odd_count)

Even count of the number in the series: 9
odd count of the number in the series: 7

Write a Python program that prints all the numbers from 0 to 10 except 3 and 6.

In [1]:
for i in range(11):
    if i!=3 and i!=6:
        print(i)

0
1
2
4
5
7
8
9
10

Write a Python program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [22]:
for i in range(1,101):
    if i%3==0 and i%5==0:
        print("FizzBuzz")
    elif i%3==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

The Fibonacci sequence starts 1 1 2 3 5 8

Each number in the sequence (after the first two) is the sum of the previous two. Write a program that computes and outputs the nth Fibonacci number, where n is a value entered by the user.

Explain Each iteration.

In [18]:
n=int(input("Enter the number "))
series=n
a=0
b=1
for i in range(n):
    if i<=n:
        c=a+b
        a=b
        b=c
    print(a)

Enter the number 6
1
1
2
3
5
8

Most years have 365 days. However, the time required for the Earth to orbit the Sun
is actually slightly more than that. As a result, an extra day, February 29, is included
in some years to correct for this difference. Such years are referred to as leap years.
The rules for determining whether or not a year is a leap year follow:
â€¢ Any year that is divisible by 400 is a leap year.
â€¢ Of the remaining years, any year that is divisible by 100 is not a leap year.
â€¢ Of the remaining years, any year that is divisible by 4 is a leap year.
â€¢ All other years are not leap years.
Write a program that reads a year from the user and displays a message indicating
whether or not it is a leap year.

In [23]:
def leap_year(year):
    if year%400==0:
        print(year," is a leap year")
    elif year%100==0:
        print(year,"is not a leap year")
    elif year%4==0:
        print(year,"is a leap year")
    else:
        print(year,"is not a leap year")

In [27]:
leap_year(2019)

2019 is not a leap year

you will create a program that reads a letter of the alphabet from the user. If the user enters a, e, i, o or u then your
program should display a message indicating that the entered letter is a vowel. If the user enters y then your program should display a message indicating that sometimes y is a vowel, and sometimes y is a consonant. Otherwise your program should display a message indicating that the letter is a consonant.
it is simple we will have to use the "in" operator ask the user for the letter vowel a variable if statements

In [52]:
def check_vowel(letter):
    vowels="aeiou"
    if letter in vowels:
        print("The entered letter is a vowel")
        
    elif letter=='y':
        print("sometimes y is a vowel, and sometimes y is a consonant")
        
    else:
        print("The entered letter is a consonant")

In [53]:
check_vowel("a")

The entered letter is a vowel