# Python session 3 - Tuples & it's operations

In [1]:
t1=("cat","dog","hen","duck","dog")

In [17]:
t1

('cat', 'dog', 'hen', 'duck', 'dog')

In [5]:
t1[1]

'dog'

In [ ]:
# Let us see some common functions of tuples

In [27]:
len(t1) # the len function is used to see the lenth of a tuple

5

In [25]:
t1.count("cat") # this function return number of occurrences of value.

1

In [26]:
t1.index("hen") # this function return first index of value.

2

In [18]:
t1=[("cat","dog","hen","duck","dog"),"monkey"]

In [19]:
type(t1)#we can also create a tuple inside the list

list

In [4]:
t3=(3,5,2,6)

In [5]:
t3

(3, 5, 2, 6)

In [3]:
type(t3)

tuple

In [6]:
t3[1]=[6]#this error is because of tuple object does not support item assignment.

TypeError: 'tuple' object does not support item assignment