# Python session 4 - Dictionary

Dictionary:- Dictionary stores key-value pairs and its mutable i.e we can change its value through key.
(Key must be unique and values can be duplicated.)

In [1]:
b1={'tia':50,'minu':10000,'shriya':500} #this are some of the examples.

In [2]:
b1

{'tia': 50, 'minu': 10000, 'shriya': 500}

In [3]:
print(b1)

{'tia': 50, 'minu': 10000, 'shriya': 500}

In [6]:
b1['tia'] #it gives the values to the key.

50

In [ ]:
# Let us see some common functions of dictionary

In [4]:
b1.keys() #this function is used to return a new view object that contains a list of all the keys in the dictionary.

dict_keys(['tia', 'minu', 'shriya'])

In [8]:
b1.values() #this function is used to return a new view object that contains a list of all the values associated with the keys in the dictionary.

dict_values([50, 10000, 500])

In [5]:
dominos={'pizza':{'margherita':250,'maxican_grn_wv':499,'cheese burst':650},'fries':90,'soft_drinks':100}

In [6]:
type(dominos)

dict

In [10]:
dominos

{'pizza': {'margherita': 250, 'maxican_grn_wv': 499, 'cheese burst': 650},
 'fries': 90,
 'soft_drinks': 100}

In [12]:
dominos['pizza']['margherita']

250

In [13]:
dominos.copy() #this function is used to returns a copy of the specified dictionary.

{'pizza': {'margherita': 250, 'maxican_grn_wv': 499, 'cheese burst': 650},
 'fries': 90,
 'soft_drinks': 100}

In [20]:
type(a)

dict_items

In [12]:
t1=({'pizza':{'margherita':250,'maxican_grn_wv':499,'cheese burst':650},'fries':90,'soft_drinks':100},1)

In [35]:
t1 #converting a dictionary into a tuple.

({'pizza': {'margherita': 250, 'maxican_grn_wv': 499, 'cheese burst': 650},
  'fries': 90,
  'soft_drinks': 100},
 1)

In [9]:
type(t1)

tuple

In [37]:
t1[0]

{'pizza': {'margherita': 250, 'maxican_grn_wv': 499, 'cheese burst': 650},
 'fries': 90,
 'soft_drinks': 100}

In [57]:
t2={"name":"shriya", "age":21,"height":5.6 , "gender":"female"}

In [27]:
t2

{'name': 'shriya', 'age': 21, 'height': 5.6, 'gender': 'female'}

In [28]:
type(t2)

dict

In [30]:
t2.get("name") #Return the value for key if key is in the dictionary.

'shriya'

In [34]:
t2.items() #this function is used to return each item in a dictionary as tuples ina a list.

dict_items([('name', 'shriya'), ('age', 21), ('height', 5.6), ('gender', 'female')])

In [35]:
t2.keys() #this function give us the view of all the dictionary keys that are present.

dict_keys(['name', 'age', 'height', 'gender'])

In [36]:
t2.pop("age") # this functions removes the elements with the specified key from the dictionary.

21

In [37]:
t2

{'name': 'shriya', 'height': 5.6, 'gender': 'female'}

In [40]:
t2.popitem() #this functions returns the last inserted key and value as a tuple.

('gender', 'female')

In [8]:
t2={"name":"shriya", "age":21,"height":5.6 , "gender":"female"}

In [9]:
t2.setdefault("age",22) #In this the value of age will not change because the key age is already exist with its default value as 21.

21

In [10]:
t2.setdefault("religion","hindu") #this functions insert key with a value of default if key is not in the dictionary.

'hindu'

In [11]:
t2

{'name': 'shriya',
 'age': 21,
 'height': 5.6,
 'gender': 'female',
 'religion': 'hindu'}

In [77]:
t2.update({"name":"sakshi"}) #this function will add or change dictionary items.

In [76]:
t2

{'name': 'sakshi',
 'age': 21,
 'height': 5.6,
 'gender': 'female',
 'religion': 'hindu'}

In [78]:
t2.values() # #this function give us the view of all the dictionary values that are present.

dict_values(['sakshi', 21, 5.6, 'female', 'hindu'])

In [79]:
t2.clear() # this function removes all the item from the dictionary.

In [80]:
t2

{}